.containerForMedicalSupport {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.first_section_MedicalSupport {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}
.first_section_MedicalSupport_left {
  max-width: 520px;
  width: 100%;
}
.first_section_MedicalSupport_left_text h1, .first_section_MedicalSupport_left_text h2 {
  font-family: Raleway, sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 55px;
  text-align: left;
  color: #212121;
}
.first_section_MedicalSupport_left_text h2 {
  margin-top: 10px;
  font-size: 30px;
  line-height: 39px;
}
.first_section_MedicalSupport_left_imgs {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.first_section_MedicalSupport_left_imgs img {
  max-width: 410px;
  width: 100%;
  max-height: 230px;
  height: 100%;
  margin-bottom: 60px;
}
.first_section_MedicalSupport_right {
  max-width: 720px;
  width: 100%;
}
.first_section_MedicalSupport_right_list {
  list-style-type: decimal;
  color: #019C01;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.first_section_MedicalSupport_right_list li span {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.first_section_MedicalSupport_right_list li span h3 {
  display: inline;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: #000000;
}
.first_section_MedicalSupport_right_list li {
  margin-bottom: 30px;
}
.first_section_MedicalSupport_right_list_list {
  margin-left: 30px;
  list-style-type: disc;
}
.first_section_MedicalSupport_right_list_list li {
  margin-bottom: 0px;
}
.first_section_MedicalSupport_right_list_list_text {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}

.second_section_MedicalSupport {
  width: 100%;
  height: 100%;
  background-color: #212121;
  margin-top: 170px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.second_section_MedicalSupport_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.second_section_MedicalSupport_block_img {
  max-width: 450px;
  width: 100%;
  max-height: 308px;
  height: 100%;
}
.second_section_MedicalSupport_block_img img {
  width: 100%;
  height: 100%;
}
.second_section_MedicalSupport_block_text {
  max-width: 720px;
  width: 100%;
  height: 100%;
  margin: 0;
}
.second_section_MedicalSupport_block_text h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.second_section_MedicalSupport_block_text p {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.third_section_ForMedicalSupport_align_right {
  display: flex;
  justify-content: flex-end;
}

.third_section_ForMedicalSupport {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 970px;
  width: 100%;
  margin-top: 60px;
}
.third_section_ForMedicalSupport_main_title {
  max-width: 740px;
  width: 100%;
}
.third_section_ForMedicalSupport_main_title h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.third_section_ForMedicalSupport_main_title p {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.forth_section_MedicalSupport {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px 0 rgba(169, 189, 206, 0.2509803922);
  background-color: #ffffff;
  padding-top: 100px;
  padding-bottom: 120px;
}
.forth_section_MedicalSupport_first_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.forth_section_MedicalSupport_first_block_left {
  display: flex;
  align-items: flex-end;
}
.forth_section_MedicalSupport_first_block_left img {
  width: 420px;
  height: auto;
}
.forth_section_MedicalSupport_first_block_right {
  width: 700px;
}
.forth_section_MedicalSupport_first_block_right h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
.forth_section_MedicalSupport_first_block_right p, .forth_section_MedicalSupport_first_block_right h3 {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
.forth_section_MedicalSupport_first_block_right h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.forth_section_MedicalSupport_second_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}
.forth_section_MedicalSupport_second_block_left img {
  width: 410px;
  height: auto;
}
.forth_section_MedicalSupport_second_block_right {
  width: 700px;
}
.forth_section_MedicalSupport_second_block_right h3 {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
.forth_section_MedicalSupport_second_block_right p, .forth_section_MedicalSupport_second_block_right h4 {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.forth_section_MedicalSupport_second_block_right p span, .forth_section_MedicalSupport_second_block_right h4 span {
  display: block;
  margin-top: 30px;
  font-family: Raleway, sans-serif;
  color: #019C01;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.forth_section_MedicalSupport_second_block_right h4 {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.forth_section_MedicalSupport_second_block_right_second {
  margin-top: 40px;
}

.fifth_section_MedicalSupport {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}
.fifth_section_MedicalSupport_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.fifth_section_MedicalSupport_block_left {
  max-width: 520px;
  width: 100%;
}
.fifth_section_MedicalSupport_block_left h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.fifth_section_MedicalSupport_block_left img {
  max-width: 410px;
  margin: 8% 10px;
}
.fifth_section_MedicalSupport_block_right {
  max-width: 740px;
}
.fifth_section_MedicalSupport_block_right h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 15px;
}
.fifth_section_MedicalSupport_block_right h3 {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.fifth_section_MedicalSupport_block_right p {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-bottom: 15px;
}
.fifth_section_MedicalSupport_block_right_list {
  margin-top: 10px;
  list-style-type: disc;
  color: #019C01;
  margin-left: 20px;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.fifth_section_MedicalSupport_block_right_list li {
  margin-bottom: 5px;
}
.fifth_section_MedicalSupport_block_right_list_notice {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.fifth_section_MedicalSupport_block_right_list span {
  color: #000000;
}

/*# sourceMappingURL=MedicalSupport.css.map */
