@import "../../utils/variables";

.first_section {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;

  &_block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &_right {
      flex-basis: 50%;
    }

    h1 {
      font-weight: 600;
      font-size: 42px;
      font-family: $font-family, sans-serif;
      line-height: 54px;
    }

    h2 {
      font-weight: 600;
      font-size: 30px;
      font-family: $font-family, sans-serif;
      line-height: 39px;

      span {
        color: #0063BA;
      }
    }

  }

  .first_section_text {
    font-weight: 400;
    font-size: 17px;
    font-family: $font-family, sans-serif;
    line-height: 22px;
  }

  &_block2 {
    flex-basis: 50%;
  }

  &_block2 h2 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
  }

  &_with_img_and_button {
    display: flex;
    flex-direction: column;

  }

  &_with_img {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;

    img {
      max-width: 190px;
      height: auto;
    }
  }
}


.second_section {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}

.third_section_with_video {
  max-width: 1960px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


.fourth_section{
  max-width: 1960px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.fifth_section{
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}


