@import "../../utils/variables";

.first_section {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;

  &_block1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &_left {
      max-width: 50%;

      h1 {
        margin-top: 47px;
        font-weight: 600;
        font-size: 42px;
        font-family: $font-family, sans-serif;
        line-height: 54px;
      }

      h2 {
        margin-top: 80px;
        font-weight: 600;
        font-size: 30px;
        font-family: $font-family, sans-serif;
        line-height: 39px;

        span {
          color: #0063BA;
        }
      }

      p {
        margin-top: 10px;
        margin-left: 10px;
      }
    }
  }

  .first_section_text {
    font-weight: 400;
    font-size: 17px;
    font-family: $font-family, sans-serif;
    line-height: 22px;
  }

  &_block2_right {
    max-width: 50%;

    h2 {
      margin-top: 112px;
      margin-left: 23px;
      font-family: $font-family, sans-serif;
      font-size: 30px;
      font-weight: 300;
      line-height: 39px;
      text-align: left;
    }

    &_text {
      border: 1px solid #FFFFFF;
      border-radius: 20px 0 0 20px;
      max-height: 110px;
      height: 100%;
      background-color: #FFFFFF;
      margin-top: 115px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 25px;
      position: relative;

      &::before {
        position: absolute;
        content: "";
        height: 100%;
        background-color: #FFFFFF;
        width: 1000%;
        left: 100%;
      }
      p {
        margin-left: 40px;
        background-color: #FFFFFF;
      }
      &_box_shadow{
        box-shadow: 0px 4px 30px 0px #A9BDCE40;
      }
    }

  }

  &_with_img_and_button {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 10px;
  }

  &_with_img {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
      max-width: 190px;
      height: auto;
    }
  }
  &_img_block{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: flex-end;
      width: 50%;
  }

  &_with_button {
    margin: 49px auto 0;
  }
}


.second_section {
  max-width: 1290px;
  width: 100%;
  height: 851px;
  margin: 105px auto 0;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;

  &_with_text_and_button {
    background-color: #FFFFFF;
  }

  h2 {
    font-family: $font-family, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    margin-top: 96px;
    background-color: #FFFFFF;
  }

  &_with_img {
    max-width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FFFFFF;

  }

  &_with_text {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;

    p {
      background-color: #FFFFFF;
      font-family: $font-family, sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      color: #212121;
    }

    &_left {
      background-color: #FFFFFF;
      flex-basis: 500px;
      text-align: left;
    }

    &_right {
      background-color: #FFFFFF;
      flex-basis: 500px;
      text-align: left;

      &_author {
        background-color: #FFFFFF;
        margin-top: 20px;

        p {

          font-family: $font-family, sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          background-color: #FFFFFF;
        }
      }
    }

  }

  &_with_button {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-left: 10px;
  }

  &_with_disciple_button {
    background-color: #FFFFFF;
    margin-top: 30px;

    p {
      text-align: center;
      font-family: $font-family, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      background-color: #FFFFFF;
    }
  }
}

.third_section_with_video {
  max-width: 1920px;
  width: 100%;
  margin: 100px auto 0;
  overflow: hidden;
}


.fourth_section {
  max-width: 1920px;
  width: 100%;
  height: 550px;
  margin: 215px auto 0;
  overflow: hidden;
  position: relative;
  background-image: url("../../utils/img/imgs_main_page/f4/banner.png");
  background-size: cover;

  .container {
    max-width: 1290px;
    margin: 100px auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &_with_foto {
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../../utils/img/imgs_main_page/f4/photo.png");
      width: 424px;
      height: 640px;
      top: -82px;
      right: 50px;
      z-index: 1;
    }
  }

  &_with_form {
    margin-left: 120px;
    z-index: 2;

    h1 {
      font-family: $font-family, sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 39px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFFFFF;
    }
  }

  &_with_text {
    margin-right: 380px;
    z-index: 2;
    position: relative;

    &_top {
      p {
        color: #FFFFFF;
        font-family: $font-family, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
      }

      h2 {
        color: #FFFFFF;
        font-family: $font-family, sans-serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    &_bottom {
      position: absolute;
      bottom: -280%;
      right: -150%;

      &_with_links {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        p {
          color: #FFFFFF;
          font-family: $font-family, sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0em;
          margin-right: 15px;
        }

        a {
          margin-left: 5px;
        }
      }

      &_main_link {
        width: 100%;
        text-align: center;

        a {
          color: #FFFFFF;
          font-family: $font-family, sans-serif;
          font-size: 17px;
          font-weight: 500;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

.fifth_section {
  max-width: 1290px;
  width: 100%;
  margin: 200px auto 0;
  display: flex;
  flex-direction: column;

  h2 {
    text-align: center;
    font-family: $font-family, sans-serif;
    color: #212121;
    font-size: 30px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
  }

  &_with_cards {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &_card {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    height: 366px;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px #A9BDCE40;

    &:nth-child(2n) {
      margin-top: 40px;
    }

    img {
      width: 158px;
      height: 140px;
    }

    p {
      text-align: center;
      font-family: $font-family, sans-serif;
      color: #212121;
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
    }

    a {
      font-family: $font-family, sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      padding: 12px 30px 12px 30px;
      border-radius: 10px;
      border: 1px solid #019C01;
      color: #019C01;
      text-decoration: none;

      &:hover {
        background: #019C01;
        color: #FFFFFF;
        transition: background, color 0.9s ease;
      }
    }
  }
}


