.first_section {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
}
.first_section_block1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.first_section_block1_left {
  max-width: 50%;
}
.first_section_block1_left h1 {
  margin-top: 47px;
  font-weight: 600;
  font-size: 42px;
  font-family: Raleway, sans-serif;
  line-height: 54px;
}
.first_section_block1_left h2 {
  margin-top: 80px;
  font-weight: 600;
  font-size: 30px;
  font-family: Raleway, sans-serif;
  line-height: 39px;
}
.first_section_block1_left h2 span {
  color: #0063BA;
}
.first_section_block1_left p {
  margin-top: 10px;
  margin-left: 10px;
}
.first_section .first_section_text {
  font-weight: 400;
  font-size: 17px;
  font-family: Raleway, sans-serif;
  line-height: 22px;
}
.first_section_block2_right {
  max-width: 50%;
}
.first_section_block2_right h2 {
  margin-top: 112px;
  margin-left: 23px;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 39px;
  text-align: left;
}
.first_section_block2_right_text {
  border: 1px solid #FFFFFF;
  border-radius: 20px 0 0 20px;
  max-height: 110px;
  height: 100%;
  background-color: #FFFFFF;
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 25px;
  position: relative;
}
.first_section_block2_right_text::before {
  position: absolute;
  content: "";
  height: 100%;
  background-color: #FFFFFF;
  width: 1000%;
  left: 100%;
}
.first_section_block2_right_text p {
  margin-left: 40px;
  background-color: #FFFFFF;
}
.first_section_block2_right_text_box_shadow {
  box-shadow: 0px 4px 30px 0px rgba(169, 189, 206, 0.2509803922);
}
.first_section_with_img_and_button {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 10px;
}
.first_section_with_img {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.first_section_with_img img {
  max-width: 190px;
  height: auto;
}
.first_section_img_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 50%;
}
.first_section_with_button {
  margin: 49px auto 0;
}

.second_section {
  max-width: 1290px;
  width: 100%;
  height: 851px;
  margin: 105px auto 0;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.second_section_with_text_and_button {
  background-color: #FFFFFF;
}
.second_section h2 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  margin-top: 96px;
  background-color: #FFFFFF;
}
.second_section_with_img {
  max-width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FFFFFF;
}
.second_section_with_text {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}
.second_section_with_text p {
  background-color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}
.second_section_with_text_left {
  background-color: #FFFFFF;
  flex-basis: 500px;
  text-align: left;
}
.second_section_with_text_right {
  background-color: #FFFFFF;
  flex-basis: 500px;
  text-align: left;
}
.second_section_with_text_right_author {
  background-color: #FFFFFF;
  margin-top: 20px;
}
.second_section_with_text_right_author p {
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #FFFFFF;
}
.second_section_with_button {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  margin-left: 10px;
}
.second_section_with_disciple_button {
  background-color: #FFFFFF;
  margin-top: 30px;
}
.second_section_with_disciple_button p {
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  background-color: #FFFFFF;
}

.third_section_with_video {
  max-width: 1920px;
  width: 100%;
  margin: 100px auto 0;
  overflow: hidden;
}

.fourth_section {
  max-width: 1920px;
  width: 100%;
  height: 550px;
  margin: 215px auto 0;
  overflow: hidden;
  position: relative;
  background-image: url("../../utils/img/imgs_main_page/f4/banner.png");
  background-size: cover;
}
.fourth_section .container {
  max-width: 1290px;
  margin: 100px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.fourth_section .container_with_foto {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url("../../utils/img/imgs_main_page/f4/photo.png");
  width: 424px;
  height: 640px;
  top: -82px;
  right: 50px;
  z-index: 1;
}
.fourth_section_with_form {
  margin-left: 120px;
  z-index: 2;
}
.fourth_section_with_form h1 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.fourth_section_with_text {
  margin-right: 380px;
  z-index: 2;
  position: relative;
}
.fourth_section_with_text_top p {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}
.fourth_section_with_text_top h2 {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}
.fourth_section_with_text_bottom {
  position: absolute;
  bottom: -280%;
  right: -150%;
}
.fourth_section_with_text_bottom_with_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.fourth_section_with_text_bottom_with_links p {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  margin-right: 15px;
}
.fourth_section_with_text_bottom_with_links a {
  margin-left: 5px;
}
.fourth_section_with_text_bottom_main_link {
  width: 100%;
  text-align: center;
}
.fourth_section_with_text_bottom_main_link a {
  color: #FFFFFF;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
}

.fifth_section {
  max-width: 1290px;
  width: 100%;
  margin: 200px auto 0;
  display: flex;
  flex-direction: column;
}
.fifth_section h2 {
  text-align: center;
  font-family: Raleway, sans-serif;
  color: #212121;
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
}
.fifth_section_with_cards {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.fifth_section_card {
  display: flex;
  background-color: #FFFFFF;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  height: 366px;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 4px 20px 0px rgba(169, 189, 206, 0.2509803922);
}
.fifth_section_card:nth-child(2n) {
  margin-top: 40px;
}
.fifth_section_card img {
  width: 158px;
  height: 140px;
}
.fifth_section_card p {
  text-align: center;
  font-family: Raleway, sans-serif;
  color: #212121;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.fifth_section_card a {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding: 12px 30px 12px 30px;
  border-radius: 10px;
  border: 1px solid #019C01;
  color: #019C01;
  text-decoration: none;
}
.fifth_section_card a:hover {
  background: #019C01;
  color: #FFFFFF;
  transition: background, color 0.9s ease;
}

/*# sourceMappingURL=MainPage.css.map */
