.container_dtpWithAnimal {
  margin: 45px auto 0;
  max-width: 1290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container_dtpWithAnimal_main_title {
  font-family: Raleway, sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 55px;
  text-align: left;
  color: #212121;
  margin-bottom: 30px;
}
.container_dtpWithAnimal_second_title {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 55px;
  text-align: left;
  color: #212121;
}
.container_dtpWithAnimal_third_title {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
  color: #3A3A3A;
}

.first_section_dtpWithAnimal_left {
  max-width: 630px;
  width: 100%;
}
.first_section_dtpWithAnimal_left_text {
  margin-top: 20px;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #3A3A3A;
}
.first_section_dtpWithAnimal_left_list {
  margin-left: 35px;
  margin-top: 10px;
}
.first_section_dtpWithAnimal_left_list ol {
  list-style-type: decimal;
  color: #019C01;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.first_section_dtpWithAnimal_left_list ol li span {
  color: #3A3A3A;
}
.first_section_dtpWithAnimal_left_list_notice {
  color: #F12F2F;
}

.first_section_dtpWithAnimal_right {
  max-width: 630px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.first_section_dtpWithAnimal_right_first_img {
  max-width: 410px;
  max-height: 256px;
}
.first_section_dtpWithAnimal_right_second_img {
  max-width: 282px;
  max-height: 169px;
}
.first_section_dtpWithAnimal_right_block {
  padding: 20px 30px 20px 30px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
  position: relative;
}
.first_section_dtpWithAnimal_right_block:after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}
.first_section_dtpWithAnimal_right_notice {
  color: #F12F2F;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}
.first_section_dtpWithAnimal_right_text {
  color: #3A3A3A;
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.second_section_dtpWithAnimal {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 4px 30px 0 rgba(169, 189, 206, 0.2509803922);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 140px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.second_section_dtpWithAnimal_right_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 360px;
  width: 100%;
  max-height: 617px;
}
.second_section_dtpWithAnimal_right_block img {
  margin-bottom: 30px;
}
.second_section_dtpWithAnimal_right_block_first_img {
  max-width: 300px;
  max-height: 187px;
}
.second_section_dtpWithAnimal_right_block_second_img {
  max-width: 360px;
  max-height: 210px;
}
.second_section_dtpWithAnimal_right_block_third_img {
  max-width: 250px;
  max-height: 160px;
}
.second_section_dtpWithAnimal_left_block {
  max-width: 630px;
  width: 100%;
}
.second_section_dtpWithAnimal_left_block_notice {
  color: #019C01;
}
.second_section_dtpWithAnimal_left_block_text {
  font-family: Raleway, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #212121;
  margin-top: 35px;
}
.second_section_dtpWithAnimal_left_block p {
  margin-bottom: 15px;
}

/*# sourceMappingURL=DtpWithAnimals.css.map */
