@import "../../utils/variables";

.button{
  max-width: 170px;
  border-radius: 5px;
  background-color: #019C01;
  margin: 0 auto;
  padding: 11px 30px 11px 30px;
  font-family: $font-family, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: #2FD22F;
    transition: background-color 0.5s ease;
  }
}