@import "../../utils/variables";


.first_section{
  margin-top: 45px;
}
.container{
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &_title{
    font-family: $font-family, sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    color: #212121;
  }
  &_table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    &_for_title{
      width: 80%;
      p{
        font-family: $font-family, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: #3A3A3A;
      }
    }

    &_left{
      max-width: 630px;
      width: 100%;
    }
    &_right{
      max-width: 630px;
      width: 100%;
    }

    &_block{
      background-color: #FFFFFF;
      border-radius: 20px;
      padding: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      min-height: 150px;
      margin-bottom: 30px;



      &_title{
        font-family: $font-family, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        color: #212121;
        margin-bottom: 10px;
      }

      &_number_and_img{
        position: relative;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &_number{
        content: "";
        position: absolute;
        top:-45px;
        left: 5px;
        font-family: $font-family, sans-serif;
        font-size: 50px;
        font-weight: 800;
        line-height: 52px;
        color: #019C01;
      }
      &_img{
          width: 60px;
          height: 60px;
      }
    }
  }

}
.point_contact {
  position: relative;

  &:before {
    position: absolute;
    content: url("../../utils/img/img_dtpWillHappened/point.png");
    top: 50px;
    right: -182px;
    width: 171px;
    height: 193px;
  }
}

.second_section_dttWillHappened{
  width: 100%;
  background-color: #212121;
  margin-top: 70px;
  &_container{
    max-width: 1290px;
    margin: 0 auto;
    padding-top: 100px;
    &_main_title{
      font-family: $font-family, sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 39px;
      text-align: left;
      color:#FFFFFF;
      width: 50%;
      margin-bottom: 40px;
      span{
        color: #019C01;
      }
    }
  }
  &_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    &_block{
      max-width: 410px;
      width: 100%;
      &_number{
        font-family: Rubik ,$font-family, sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 39px;
        text-align: left;
        color: #019C01;
        margin-bottom: 10px;
      }
      &_text{
        font-family: Rubik ,$font-family, sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        color: #FFFFFF;
        width: 100%;
      }
    }
  }

  &_second_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    &_img{
      width: 520px;
      height: 403px;
    }

    &_text{
      max-width: 630px;
      h3{
        font-family: $font-family, sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        text-align: left;
        color: #FFFFFF;
        margin-bottom: 30px;
      }
    }
    &_list{
      list-style-type: decimal;
      color: #019C01;
      font-family: $font-family, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.5;
      text-align: left;
      margin-left: 20px;
      margin-bottom: 30px;
      &_list{
        list-style-type: disc;
        margin-left: 20px;
        line-height: 1.5;
      }

      li span{
        color: #FFFFFF;
        font-family: $font-family, sans-serif;
        font-size: 17px;
        font-weight: 600;
        line-height: 22px;
        text-align: left;
      }
    }

    &_text_after_block{
      border: 1px solid #6C6C6C;
      padding: 20px 30px 20px 30px;
      border-radius: 20px;
      color: #FFFFFF;
      font-family: $font-family, sans-serif;
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin-bottom: 95px;
    }
  }
}

