$font-color: #212121;
$font-family: Raleway;
$color: #F8F8F8;
$mobile:480px;

$tablet-max:1200px; //960px
$tablet-min:481px;

//В НАВБАРЕ  СВОЙ ПЕРВЫЙ ПБРЕЙКПОИНТ, ТАК КАК ОН МЕНЕЕ ВСЕГО ПОДВЕРЖЕН ИЗМЕНЕНИЯМ. ТАМ "Бургер" меню появляется после 960px
$first_break_point_for_navbar :960px;


