@import "../../../utils/variables";

.table {
  max-width: 600px;
  width: 100%;
  border-collapse: collapse;
  background-color:  #ffffff;
  border-radius: 20px;
  th{
    width: 50%;
    padding: 10px;
  }
  tr{
    height: 100%;
  }
  td{
    border-bottom: 1px solid #EEEEEE;
    padding: 10px;
    height: 100%;
  }

  &_align_text_center{
    text-align: center;
    font-family: $font-family, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &_align_text_left{
    text-align: left;
    font-family: $font-family, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
  }
  &_align_text_right{
    text-align: right;
    font-family: $font-family, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
  }

}

.price{
  color: #2FD22F;
}

.table_header{
  font-family: $font-family, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  color: #212121;
}
.table_header{
  border-bottom: 2px solid #6C6C6C;
}
@media (max-width: $mobile) {
  .table{
    border-radius: 0;
    background-color: #F8F8F8;
  }
  .table th{
    padding: 0;
  }
  .table_header{
    border-bottom: 1px solid #EEEEEE;
  }
  .price{
    width: 13%;
  }

}

//display: flex;
//flex-direction: column;
//justify-content: center;
//align-items: center;